tmp
Makefile
Makefile.Debug
Makefile.Release
GeneratedFiles
Build
Dist
Target
*.ncb
*.suo
*.pdb
*.idb
*.ib_pdb_index
*.bak
*.swp
*.ini
*.identcache
*.local
*.obj
*.o
*.ncb
*.pch
*.pchi
*.pdb
*.idb
*.suo
*.vcproj.*.user
*.ilk
*cache.dat
*.dcu
*.dsk
*.~*~
*.$$$
*.exe
*.obj
*.sai
*.psd
*.rar
*.zip
*.cab
*.7z
*.dll
*.dl~
*.exe
*.ex~
*.00?
*.png
*.jpg
*.a
*.lib
*.res
*.html
*.ax
*.mp3
*.mpc
*.ogg
*.wav
*.mpg
*.mp4
*.aac
*.m4a
*.mkv
*.mp2
*.wma
*.wdp
*.jp2
thumb.db
BuildLog.htm
*.sln_old
*.user
*.pro.user*
*.LST
*.BIN